#nasa-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}

.nasa-data {
    background-color: antiquewhite;
    width: 30%;
    border: 1px solid black;

}

.data-img {
    width: 100%
}

.heart{
    width: 2rem;
}
